%main{:role => "main"}
  .jumbotron
    .container
      .row
        .col-md-6.offset-md-3
          .card.shadow-sm
            = image_tag @dog.image, class: "card-img-top", alt: "No Image"
            .card-body
              name
              %h3.card-title
                = @dog.name
              age
              %h4.card-title
                = @dog.age.number
              type
              %h4.card-title
                = @dog.type.name
              introduction
              = simple_format(@dog.introduction, class: "card-text")
              - if user_signed_in? && current_user.id == @dog.user_id
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    = link_to "Edit", "#", class: "btn btn-sm btn-outline-secondary", role: "button"
