%main{:role => "main"}
  .jumbotron
    .container
      .row
        .col-md-6.offset-md-3
          .card.shadow-sm
            = image_tag @user.image, class: "card-img-top", alt: "No Image"
            .card-body
              name
              %h3.card-title
                = @user.nickname
              prefecture
              - if @user.prefecture_id.present?
                %h4.card-title
                  = @user.prefecture.name
              - else
                %p まだ登録されていません
              introduction
              - if @user.introduction.present?
                = simple_format(@user.introduction, class: "card-text")
              - else
                %p まだ登録されていません
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  = link_to "Edit", edit_user_path(current_user), class: "btn btn-sm btn-outline-secondary", role: "button"
                  = link_to "Edit", edit_user_path(current_user), class: "btn btn-sm btn-outline-secondary", role: "button"

  .album.py-5.album__background
    .container
      %h2 Posts List
      .row
        - if @posts
          = render partial: 'post', collection: @posts
        - else
          %p 現在投稿はありません
      = paginate(@posts)
