%h2 投稿する

= form_for @post do |f|

  .form-group
    = f.label :title
    = f.text_field :title, autofocus: true, class: 'form-control', placeholder: "例)食欲がない"

  .form-group
    = f.label :text
    = f.text_area :text, class: 'form-control', placeholder: "例)15歳の犬の食欲が昨日からありません。どうしたら良いでしょうか？"

  .form-group
    = f.label :category_id, "Category"
    = f.collection_select :category_id, Category.all, :id, :name, {prompt: "category"}, {class: 'form-control'}

  = f.submit "投稿する", class: 'btn btn-primary'
