%main{:role => "main"}
  .album.py-5.album__background
    .container
      .row
        .col-md-4
          .card.shadow-sm.card__background
            .card-body
              %p.card-text
                %small.text-muted
                  by
                = link_to "#{@post.user.nickname}", user_path(@post.user)
              %h3.card-title
                = @post.title
              .card-text__min-height
                = simple_format(@post.text)
              - if user_signed_in? && current_user.id == @post.user_id
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    = link_to "Edit", edit_post_path(@post), class: "btn btn-sm btn-outline-secondary", role: "button"
                    = link_to "Delete", "/posts/#{@post.id}", class: "btn btn-sm btn-outline-secondary", role: "button", method: :delete
                  %small.text-muted
                    = simple_time(@post.created_at)
              - else
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                  %small.text-muted
                    = simple_time(@post.created_at)
        .col-md-8
          - if user_signed_in?
            .card.mb-4.shadow-sm.card__background
              .text-center
                = form_for [@post, @comment], html: {class: 'form-signin__comment'} do |f|
                  %h2.h3.mb-3.font-weight-normal コメントする
                  .form-group
                    = f.text_area :text, autofocus: true, rows: "3", class: 'form-control', placeholder: "例)初めまして。うちの子も同じようなことがありました。"
                  = f.submit "Send", class: 'btn btn-lg btn-primary btn-block disable'
          .comments
            %h2 コメント一覧
            - if @comments.present?
              = render partial: "comment", collection: @comments

