!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pets
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    %nav.site-header.sticky-top.py-1
      .container.d-flex.flex-column.flex-md-row.justify-content-between
        = link_to "Tour", "#", class: "py-2"
        = link_to "Product", "#", class: "py-2"
        = link_to "Features", "#", class: "py-2"
        = link_to "Enterprise", "#", class: "py-2"
        = link_to "Support", "#", class: "py-2"
        = link_to "Pricing", "#", class: "py-2"
        = link_to "Cart", "#", class: "py-2"

    = yield

    %footer.container.py-5
      .row
        .col-12.col-md
          %small.d-block.mb-3.text-muted
            &copy; 2017-2018
        .col-6.col-md
          %h5
            Features
          %ul.list-unstyled.text-small
            .li
              = link_to "Cool stuff", "#", class: "text-muted"
            .li
              = link_to "Cool stuff", "#", class: "text-muted"
            .li
              = link_to "Cool stuff", "#", class: "text-muted"
            .li
              = link_to "Cool stuff", "#", class: "text-muted"
            .li
              = link_to "Cool stuff", "#", class: "text-muted"
            .li
              = link_to "Cool stuff", "#", class: "text-muted"
        .col-6.col-md
          %h5
            Resouces
          %ul.list-unstyled.text-small
            %li
              = link_to "Resouce name", "#", class: "text-muted"
            %li
              = link_to "Resouce name", "#", class: "text-muted"
            %li
              = link_to "Resouce name", "#", class: "text-muted"
            %li
              = link_to "Resouce name", "#", class: "text-muted"
        .col-6.col-md
          %h5
            Resources
          %ul.list-unstyled.text-small
            %li
              = link_to "Business", "#", class: "text-muted"
            %li
              = link_to "Business", "#", class: "text-muted"
            %li
              = link_to "Business", "#", class: "text-muted"
            %li
              = link_to "Business", "#", class: "text-muted"
        .col-y.col-md
          %h5
            About
          %ul.list-unstyled.text-small
            %li
              = link_to "Team", "#", class: "text-muted"
            %li
              = link_to "Team", "#", class: "text-muted"
            %li
              = link_to "Team", "#", class: "text-muted"
            %li
              = link_to "Team", "#", class: "text-muted"
