!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pets
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    %nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      = link_to "Navbar", "#", class: "navbar-brand"
      %button.navbar-toggler{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon

      .collapse.navbar-collapse#navbarsExampleDefault
        %ul.navbar-nav.mr-auto
          %li.nav-item.active
            = link_to "#", class: "nav-link" do
              Home
              %span.sr-only(current)
          %li.nav-item
            = link_to "Link", "#", class: "nav-link"
          %li.nav-item
            = link_to "Disabled", "#", class: "nav-link disabled"
          %li.nav-item.dropdown
            %a#dropdown01.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "http://example.com"} Dropdown
            .dropdown-menu{"aria-labelledby" => "dropdown01"}
              = link_to "Action", "#", class: "dropdown-item"
              = link_to "Another action", "#", class: "dropdown-item"
              = link_to "Something else here", "#", class: "dropdown-item"
          %li.nav-item
            = link_to "Sign Out", destroy_user_session_path, class: "nav-link", method: :delete
        %form.form-inline.my-2.my-lg-0
          %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "text"}/
          %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search

    = yield

    %footer.container
      %p &copy; Company 2017-2018

